* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #5FADBA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logofooter{
    width: 100px;
}


ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    gap: 10px;
}

li{
    color: #FFEFD3;
    font-family: Inter;
}
li a {
    color: #FFEFD3;
    text-decoration: none;
    font-size: 13px;
}
li a:hover{
    color: #a08555;
    text-decoration: underline;
}

.fakeTermos{
    color: #0C7587;
    font-size: 13px;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.fakeProperty{
    color: #0C7587;
    font-size: 10px;
    text-align: center;
    opacity: 0.5;

}